doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    link(rel="stylesheet" href="wicked.css")
    link(rel="stylesheet" href="style.css")
    title Jaime Jacobo - Personal Website
  body
    #top.containerNav.slideDown
      ul#navbarList
        li#navbarContact
          a(href="#media").scrolldown Media
        li#navbarSkills
          a(href="#technicalSkills").scrolldown Skills
        li#navbarSocialMedia
          a(href="#myProjects").scrolldown Projects
        li#navbarMyProjects
          a(href="#aboutMe").scrolldown About Me
    
    #homeScreen.firstScreenContent.flexCenteredColumnCenter.maingPageBackgroundImage.fadeIn
      h1.introductionText.mainTitle.fadeIn Welcome to my Website
      #titleDiv
    
    #aboutMe.restOfTheScreensContent
      h1.webTitles About Me
      #prueba2
        #contentOfWhoAmI.marginLeft
          h2 Who am I?

          p My name is Jaime, and coding is my passion. After completing my internship in a technology company back in Spain, where I discovered my love for coding, I decided to make a full change in my life. I parted from my family and friends and moved to a new country with a new language to pursue my dream of learning and growing as a web developer and as a web designer.

          p Creativity and adaptation are two of my biggest strengths, but I am also dedicated, practical, persistent and I pay close attention to details.

          p I am a fast learner who sees an opportunity to learn and acquire knowledge in every problem or conflict I encounter. 

        #contentOfWhatDoILikeToDo.marginLeft
          h2 What do I like to do?
        
          p Programming aside, my two big passions are sports and music. I have been playing all kinds of sports since I was a little kid. If I had to choose two sports, they would be skateboarding and football.

          p Regarding music, I love listening to it everywhere I go. From a big music festival with my friends to putting my headphones on when I’m coding; every moment is a perfect opportunity to listen to some music.

        #contentOfWhereDoIComeFrom.marginLeft
          h2 Where do I come from?

          p I was born in Mexico, but I have lived in Spain for the last 12 years. After studying for a Bachelor’s degree in Psychology back in Madrid, I decided to make a change in my life and move to Miami to begin a whole new adventure.

          p When I think of my future, I see myself living in a place where I can keep growing as a developer, as a designer and as a person.

    #prueba
      #myProjects.restOfTheScreensContent
        h1.webTitles My Projects
        #projectPictures.flexWrap
          .flexCenteredColumn.projectsInfo
            a(href="https://lets-go-flo.herokuapp.com/", target="_blank")
              img(src="letsgofloBW.png", alt="Blackjack Picture", id='letsGoFloridaImage')
            h2 Let's Go Florida
            p.projectInfoParagraphs Let's Go Florida is a web application that provides information about hotels, restaurants and activities of any city in Florida.
              span.smallFont (JavaScript, React, HTML, CSS, Photoshop, Node.js)















    //- h1#mainTitle Hello
    //- p.firstParagraph.
    //-   Bubucela Jaime troglodita casimuerto
    //-   Tengo miedo tengo frio y tengo miedo
    //-   Los nogareda son guayserqegere
    //- #mainDiv
    //-   input(type="password" name="inpPwd" data-js=`${1 > 2 ? "OK" : "NOT OK!"}`)
    //- - const myClasses = ["class1", "class2", "class3"]
    //- div.myDivClass(class=myClasses)
    //- - const myStyles= {"color": "red", "background-color": "blue"}
    //- div(style=myStyles)
   

    //- - const myAttributes = {"src": "myPhoto.png", "alt": "This is my photo"}
    //- img&attributes(myAttributes)

    //- input(type="text" disabled=true)
 
